// =========COLORS==============

$primary-color: #666;
$medium-color: #999;
$light-color: #ccc;
$strong-color: #333;
$link-color: #4183c4;
$background-color: #f5f5f5;
$border-color: #e5e5e5;
$open-issue-color: #6cc644;
$closed-issue-color: #bd2c00;

// ===========SIZES=============

$content-width: 1000px;

// ===========GLOBAL============

$main-font: Helvetica, arial, freesans, clean, sans-serif;

body {
  color: $strong-color;
  font-family: $main-font;
  font-size: 14px;
  margin: 0;

  * {
    box-sizing: border-box;
    vertical-align: top;
  }

  .octicon {
    font-size: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    margin: 0 auto;
    overflow: auto;
    position: relative;
    width: $content-width;
  }
}

// ===========HEADER============

header {
  background: $background-color;
  border-bottom: 1px solid $border-color;
  font-size: 13px;
  height: 49px;
  margin-bottom: 1px solid;
  padding: 10px 0;

  .octicon-mark-github {
    font-size: 28px;
    padding: 0 8px;
  }

  a {
    color: $strong-color;
    font-weight: 600;

    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }

  .search {
    border-radius: 3px;
    display: inline-block;
    margin-right: 7px;
    width: 360px;

    input[type=search] {
      -webkit-appearance: textfield;
      border: solid 1px $light-color;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px 0 $background-color;
      font-family: $main-font;
      font-size: 12px;
      font-weight: 400;
      height: 28px;
      width: 100%;

      &:focus {
        border: solid 1px #51a7e8;
        box-shadow: 0 0 2px 0 #51a7e8;
        outline: none;
      }
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;

    li {
      display: inline-block;
      line-height: 27px;
      padding: 0 6px;
    }
  }

  .user-links {
    position: absolute;
    right: 4px;

    img {
      border-radius: 3px;
      height: 20px;
      vertical-align: middle;
      width: 20px;
    }

    li {
      padding: 0 8px;
    }

    .octicon {
      line-height: 28px;
    }

    .octicon-triangle-down {
      font-size: 10px;
    }
  }
}

// ==========MAIN===============

section {
  margin: 20px 20px 20px 10px;
}

// ===========SIDEBAR===========

.sidebar {
  float: left;
  width: 230px;

  img {
    border-radius: 5px;
    height: 230px;
    width: 230px;
  }

  .name {
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
  }

  .username {
    color: $primary-color;
    font-size: 20px;
    font-weight: 300;
    line-height: 13px;
  }

  .user-details {

    div {
      padding: 3px 0;
    }

    .octicon {
      font-size: 16px;
      text-align: center;
      width: 25px;

      &:before {
        color: $light-color;
      }
    }
  }

  .follower-info {
    overflow: auto;

    div {
      float: left;
      text-align: center;
      width: 33%;
    }

    a {
      color: $medium-color;
      font-size: 11px;

      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }

    span {
      color: $link-color;
      display: block;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      width: 100%;

    }
  }

  .orgs {

    img {
      border-radius: 2px;
      height: 40px;
      width: 40px;
    }
  }
}


// ======MAIN CONTENT AREA======

.main-content {
  margin-left: 260px;
  width: 550px;
}

// ===========FOOTER============

footer {
  color: $medium-color;
  font-size: 12px;
  font-weight: 400;
  height: 100px;

  .content {
    border-top: 1px solid $background-color;
    height: 100px;

    * {
      display: inline-block;
    }

    > * {
      position: absolute;
      top: 44px;


    }
  }

  a {
    color: #4183c4;
    top: 39px !important;
    left: 488px;

    .octicon {
      color: $light-color;
      font-size: 24px;

      &:hover {
        color: $medium-color;
      }
    }
  }

  li {
    padding: 0 6px;
  }

  .left {
    left: 122px;
  }

  .right {
    right: 0;
  }
}
