<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.css" rel="stylesheet" type="text/css">
  <link href="dist/styles/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div class="content">
      <a href="https://github.com"><span class="octicon octicon-mark-github"></span></a>
      <div class="search">
        <form>
          <input type="search" placeholder="Search GitHub">
        </form>
      </div>
      <ul>
        <li><a href="https://github.com/explore">Explore</a></li>
        <li><a href="https://gist.github.com">Gist</a></li>
        <li><a href="https://github.com/blog">Blog</a></li>
        <li><a href="https://help.github.com">Help</a></li>
      </ul>
      <script type="text/template" id="templates-user-links">
        <ul class ="user-links">
          <li class="profile"><a href="https://gist.github.com"><img src="<%= image %>"/> <%= username %> </a></li>
          <li class="create-new"><a href="https://github.com/<%= username %>?tab=repositories#">
            <span class="octicon octicon-plus"> <span class="octicon octicon-triangle-down"></span></span></a></li>
          <li class="notifications" ><a href="https://github.com/notifications"><span class="octicon octicon-inbox"></span></a></li>
          <li class="settings"><a href="https://github.com/settings/profile"><span class="octicon octicon-gear"></span></a></li>
          <li class="signout"><a href="https://github.com/notifications"><span class="octicon octicon-sign-out"></span></a></li>
         </ul>
      </script>
    </div>
  </header>
  <main>
    <div class="content">
      <section class="sidebar">
        <div class="sidebar-top">
        <script type="text/template" id="templates-sidebar">
          <div class="user">
            <a href="#"><img src="<%= image %>" /></a>
            <span class="name"><%= name %></span >
            <span class="username"> <%= username %> </span>
          </div>
            <div class="user-details">
              <div><span class="octicon octicon-location"></span><span> <%= location %> </span></div>
              <div><span class="octicon octicon-mail"></span><span> <a href="mailto:<%= email %>"><%= email %></a ></span></div>
              <div><span class="octicon octicon-clock"></span><span> Joined on <%= joinedDate %></span ></div>
            </div>
          <div class="follower-info">
            <div><a href="#"><span><%= followers %></span> Follower </a></div>
            <div><a href="#"><span><%= starred %></span> Starred </a></div>
            <div><a href="#"><span><%= following %></span> Following </a></div>
          </div>
        </script>
      </div>
        <div class="orgs">
        <script type="text/template" id="templates-sidebar-orgs">
          <div>organizations</div>
          <div><a href="<%= orgUrl %>"><img src="<%= orgAvatar %>"/></a></div>
        </script>
        </div>
      </section>
      <section class="main-content">
        <ul>
        </ul>
        <div class="repos">
        <script type="text/template" id="templates-repos">
          <div class="repo">
            <a href="<%= repoUrl %>"><h3><%= repoName %></h3></a>
            <span class="last-updated"><%= lastUpdated %></span>
            <div class="repo-stats">
              <span class="language"><%= repoLanguage %></span>
              <a class="star-gazers"><a href="<%= repoUrl %>/stargazers"<span class="octicon octicon-star"><%= stargazers %></span></a>
              <a class="forks"><a href="<%= repoUrl %>/network"<span class="octicon octicon-git-branch"><%= forks %></span></a>
            </div>
          </div>
        </script>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="content">
      <span>&copy; 2014 GitHub, Inc.</span>
      <ul class="left">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="https://github.com"><span class="octicon octicon-mark-github"></span></a>
      <ul class="right">
        <li><a href="#">Status</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </footer>

  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="token.js"></script>
  <script src="main.js"></script>
</body>

</html>
