<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="dist/styles/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div class="content">
      header content goes here
    </div>
  </header>
  <main>
    <div class="content">
      <section class="sidebar">
        <script type="text/template" id="templates-sidebar">
          <div class="user">
            <a href="#"><img src="<%= image %>"/></a>
            <span class="name"><%= name %></span>
            <span class="username"><%= username %></span>
          </div>
          <div>user info (location etc)</div>
          <div>follower info</div>
          <div>organizations</div>
        </script>
      </section>
      <section class="main-content">
        main content goes here
      </section>
    </div>
  </main>
  <footer>
    <div class="content">
      footer content goes here
    </div>
  </footer>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="data.js"></script>
  <script src="main.js"></script>
</body>

</html>
